.mysteries-view {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    justify-items: center;
    width: min(600px, calc(85% - 80px));
    height: min(800px, calc(85% - 80px));
    background-color: #fff;
    box-shadow: 0 4px 50px 20px rgba(0,0,0,0.25);
    border-radius: 30px;
    padding: 40px;
    color: #000;
    overflow: hidden;
}

.mysteries-view>h1 {
    width: fit-content;
    filter: drop-shadow( 4px 4px 8px #0048b42f);

}

.mysteries-view>div:last-of-type {
    align-self: start;
}

.mysteries-view>img {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease;
}

.mysteries-view>img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 5px 10px #d7004028)
}

.mysteries-view>button {
    border: 0;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 0.84em;
    background-color: #D70040;
    color: #fff;
    transition: all .5s ease
}

.mysteries-view>button:hover {
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
}
.mysteries-view>button:active {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}