.mysteries-view {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    justify-items: center;
    width: min(600px, calc(85% - 80px));
    height: min(800px, calc(85% - 80px));
    background-color: #fff;
    box-shadow: 0 4px 50px 20px rgba(0,0,0,0.25);
    border-radius: 30px;
    padding: 40px;
    color: #000;
    overflow: hidden;
}

.mysteries-view>h1 {
    width: fit-content;
    filter: drop-shadow( 4px 4px 8px #0048b47a);

}

.mysteries-view>div {
    align-self: start;
    margin-top: 50px;
}