.contact-page {
    position: relative;
    display: block;
    padding: 45px;
    background-color: #fff;
    border-radius: 15px;
    width: min(350px 80%);
    max-width: 80%;
}

.contact-page>h2:first-of-type {
    margin-block-start: 0;
    margin-block-end: 30px;
    text-align: end;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.contact-form>* {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.contact-form>textarea {
    height: 100px;
}

.contact-form>*:focus:not(:last-child) {
    border-radius: 15px;
    border: none;
    outline: 1px solid rgba(0,0,0,0.3)
}

.contact-form>button {
    color: #fff;
    font-size: 1em;
    box-shadow: 0 0 10px 10px rgba(0, 72, 180, 0.1);
    background: linear-gradient(160deg, rgb(0, 72, 180, 0.5) 0%, rgba(215, 0, 64, 0.5) 100%);
    filter: drop-shadow(0 0 2px #000);
}

@media screen and (max-width: 980px) {
    .contact-page {
        padding: 5% 5% 0 5%;
        overflow: hidden;
    }

    .contact-form {
        gap: 0;
    }

    .contact-form > * {
    margin-top: 20px;
}

    .contact-form > *:first-child {
        margin-top: 0;
    }
    
    .contact-form>button {
        width: 115%;
        align-self: center;
    }
}

@media screen and (max-width: 765px) {
    .contact-page {
    width: 100%;
        margin: 2% 8% 10% 8%;
        padding: 30px 6% 0 6%;
    }
}