.App {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 133, 255, 0.5), var(--blue-color));
    background-attachment: fixed;
}

.bm-menu-wrap {
 background-color:#fff;
}

#react-burger-menu-btn {
    display: none;
}

.bm-item-list {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.bm-item-list span {
    margin-top: 20%;
}

.bm-item-list>span:before {
content: 'â²';
padding-right: 10px;
}