.App {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 133, 255, 0.5), var(--blue-color));
    background-attachment: fixed;
}

.bm-menu-wrap {
 background-color:#fff;
}

#react-burger-menu-btn {
    display: none;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    color: #333;
}

.menu-tajemnice:before,
.menu-restart:before {
padding-right: 10px;
}

.menu-restart:before {
content: 'â²';
}

.bm-item-list > *:focus-visible {
outline: 0;
}

.bm-item-list > * {
    width: fit-content;
    transform: scale(1);
    transition: all .5s ease;
}

.bm-item-list > * >* {
    text-decoration: none;
    color: inherit;
}

.bm-item-list > *:hover {
    transform: scale(0.95);
}

.bm-item-list > *:not(:last-of-type) {
    border-bottom:1px solid rgba(0, 133, 255, 0.5);
    padding-bottom: 25px;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}
.bm-item-list > *:first-of-type { margin-block-start: 50px;}
.bm-item-list > *:last-of-type { margin-block-end: 0;}

.bm-item-list > * {cursor: pointer; position: relative;}


.bm-item-list > *:after {
    content: '>';
    position: absolute;
    right: 0px;
    top: -5px;
    opacity: 0;
    font-size: 1.4em;
    transition: all .5s ease;
}
.bm-item-list > *:hover:after {
    right: -30px;
    opacity: 1;
}