.main-renderer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 133, 255, 0.5), var(--blue-color));
}

@media screen and (max-width: 765px) {
    .main-renderer {
        height: max(fit-content, 100vh);
    }
}